{% extends 'layout.html.twig' %}

{% block content %}
    <main class="article_page">
       <div class="article">
           {% if tokenExist is defined and tokenExist == true %}
               <h4 class="title_article">
                   {% autoescape false %}
                       {{ article.title | striptags }}
                   {% endautoescape %}
               </h4>
               <p class="resume_autor">By <span class="autor">{{autor.username}}</span> - <span class="date">{{ article.date | date("M d Y") }}</span></p>
               <div class="img">
                   <img src="{{ article.file }}" alt="article_img">
               </div>
               <div class="content_article">
                   <p>
                       {% autoescape false %}
                           {{ article.content | raw }}
                       {% endautoescape %}
                   </p>
               </div>
               <div class="comment-box">
                   {% if isLog is defined and isLog == true %}
                       <div class="comment">
                           <form action="?action=article&token={{ article.token }}" METHOD="POST">
                               <input type="text" />
                               <textarea name="content_comment" placeholder="Votre commentaire..."></textarea>
                               <button type="submit" class="button"><img src="assets/img/man-user.png">&nbsp;&nbsp;Publier</button>
                           </form>
                       </div>
                       {% else %}
                           <div class="cantComment">
                               <a href="?action=reglog&from=article&token={{ article.token }}">
                                   Connectez-vous pour pouvoir commenter
                               </a>
                           </div>

                   {% endif %}
               </div>
               {% else %}
                    <div>Cet article n'est plus disponible</div>
           {% endif %}
       </div>
    </main>
{% endblock %}
