{% extends 'layout.html.twig' %}

{% block content %}
    <main class="home_page">
        <div class="about_me">
            <p>Bienvenue sur mon site ! </p>
        </div>
        <div class="last-posts">
            <h3 class="title">Articles récents</h3>
            {% for article in  availableArticle %}
                <div class="article_summary">
                        <h3>
                            {% autoescape false %}
                                <a class="title_article" href="?action=article&token={{ article.token }}">
                                    {{ article.title | striptags }}
                                </a>
                            {% endautoescape %}
                        </h3>
                        {% set comNb = article.id %}
                        <p class="resume_autor">By <span class="autor">{{autor.username}}</span> - <span class="date">{{ article.date | date("M d Y") }}</span>&nbsp;&nbsp;<img class="icon_comment" src="assets/img/chat2.png">&nbsp;{{ commentsNumber[comNb] }}&nbsp;&nbsp;<img class="icon_comment" src="assets/img/eye.png">&nbsp;{{ article.countVisites }}</p>
                        <a class="etc" href="?action=article&token={{ article.token }}">
                            <img class="img" src="{{ article.file }}" alt="article_img">
                        </a>
                        <div class="more">
                            <a href="?action=article&token={{ article.token }}">
                                <img src="assets/img/round-add-button.png" alt="article_img">
                            </a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
