{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <div class="left_side_mobile">
            <div class="burger">
                <div class="burger_line"></div>
                <div class="burger_line"></div>
                <div class="burger_line"></div>
            </div>
            <ul class="mobile_dropdown">
                <li><a href="?action=home">Accueil</a></li>
                <li><a href="?action=profile">Profil</a></li>
                <li><a href="?action=about">Nous</a></li>
                <li><a href="?action=partner">Devenir Partenaires</a></li>
                <li><a href="?action=logout">Déconnexion</a></li>
            </ul>
            <img class="mobile_logo" src="assets/img/mobile_logo.png" alt="mobile_logo">
        </div>
        <div class="stats">
            <span>{{bottlesRecycled}}</span>
            <p>objets recylés !</p>
        </div>
        <ul class="menu_desktop">
            <li><a href="?action=home">Accueil</a></li>
            <li><a href="?action=profile">Profil</a></li>
            <li><a href="?action=about">Nous</a></li>
            <li><a href="?action=partner">Devenir Partenaires</a></li>
        </ul>
        <div class="end_header">
            <div class="current"><a href="#">{{user.pseudo}}</a></div>
            <a href="?action=logout"><img src="assets/img/logout.png" alt="logout"></a>
        </div>
    </header>

    <main class="offer_page">
        <div class="head_img">Mes Offres</div>
        <div class="all_offers">
            {% for deal in allDeals %}
                <div class="offer">
                    <img class="deal_img" src="{{ deal['image'] }}" alt="deal_img">
                    <div class="info">
                        <p class="title">{{deal.partner}}</p>
                        <p>Description :</p>
                        <p class="description">{{deal.description}}</p>
                        <div class="buttons">
                            <div class="costs">
                                <p>{{deal.cost}} Points</p>
                            </div>
                            <div class="more">
                                <a href="#modale"><img src="assets/img/expand-arrows.png" alt="expand"></a>
                            </div>
                        </div>
                        <div class="more_info">
                            <span>{{deal.city}}</span>
                            <span class="id">{{deal.id}}</span>
                            <span>{{deal.expirationDate | date("m/d/Y")}}</span>
                            <p>{{deal.deal}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="modale">
            <div class="modale_available_deal">
                <div class="deal_info">
                    <img alt="modale_img" class="img_modale" src="">
                    <div class="info">
                        <p class="title">INFO</p>
                        <p class="partner_modale info_deal"><span>Partenaire</span><span></span></p>
                        <p class="city_modale info_deal"><span>Ville</span><span></span></p>
                        <p class="expiration_modale info_deal"><span>Date d'expiration</span><span></span></p>
                        <div class="important">
                            <div class="price big">
                                <span>Coût</span>
                                <span></span>
                            </div>
                            <div class="reduc big">
                                <span>Réduction</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <form class="buy_deal" action="?action=offers" method="POST">
                        <input class="id" name="IDdeal" type="text" value="">
                        <input class="buy" name="submitBuyDeal" type="submit" value="acheter l'offre">
                    </form>
                    <a class="close_modale">Non merci</a>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
