{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <div class="left_side_mobile">
            <div class="burger">
                <div class="burger_line"></div>
                <div class="burger_line"></div>
                <div class="burger_line"></div>
            </div>
            <ul class="mobile_dropdown">
                <li><a href="?action=home">Accueil</a></li>
                <li><a href="?action=about">Nous</a></li>
                <li><a href="?action=partner">Devenir Partenaires</a></li>
                <li><a href="?action=logout">Déconnexion</a></li>
            </ul>
            <img class="mobile_logo" alt="mobile_logo" src="assets/img/mobile_logo.png">
        </div>
        <div class="stats">
            <span>{{bottlesRecycled}}</span>
            <p>objets recylés !</p>
        </div>
        <ul class="menu_desktop">
            <li><a href="?action=home">Accueil</a></li>
            <li><a href="?action=about">Nous</a></li>
            <li><a href="?action=partner">Devenir Partenaires</a></li>
        </ul>
        <div class="end_header">
            <div class="current"><a href="#">{{user.pseudo}}</a></div>
            <a href="?action=logout"><img alt="logout" src="assets/img/logout.png"></a>
        </div>
    </header>

    <main class="user_page">
        <div class="user_info">
            <img class="profil_img" alt="profile_img" src="{{ user.image }}">
            <div class="line"></div>
            <div class="specific_info">
                <div class="username_lvl">
                    <div class="pseudo"><span>{{user.pseudo}}</span><a href="#"><img class="params" alt="params" src="assets/img/editProfile.png"></a></div>
                    <span>Niv. <span class="lvl">{{user.level}}</span></span>
                </div>
                <div class="classement"><a href="#">Voir le Classement</a></div>
                <div><span class="inscription_date">INSCRIT DEPUIS LE {{user.date | date("m/d/Y")}}</span></div>
            </div>
        </div>
        <div class="stats">
            <div class="recycled"><span>{{user.bottlesNumber}}</span><span class="little">objets recylés</span></div>
            <div class="points"><span>{{user.costs}}</span><span class="little">points</span></div>
            <div class="fun_stats">statistiques : {{ average[user.id] }} bottles/week {{ ranking[user.id] }}EME</div>
        </div>

        <div class="box">
            <ul>
                <li class="tabs active" id="profile_user_reductions"><img class="tabs_img" alt="tabs_img" src="assets/img/tabs_my_reduc.png"></li>
                <li class="tabs" id="profile_availables_reductions"><img class="tabs_img" alt="tabs_img" src="assets/img/tabs_available_reduc.png"></li>
                <li class="tabs" id="profile_sondage"><img alt="tabs_img" class="tabs_img" src="assets/img/tabs_sondage.png"></li>
            </ul>
            <div class="all_changing_contents">
                <div class="changing_content my_reductions">
                    <p class="title">Mes réductions</p>
                    <div class="all_reducs">
                        {% for reduc in myDeals %}
                            <div class="reducs">
                                <img class="partner_img" alt="img_deal" src="{{reduc.image}}">
                                <div class="deal_info">
                                    <span>{{reduc.partner}}</span>
                                    <span>{{ reduc['deal'] | raw }}</span>
                                </div>
                                <div class="print">
                                    <form action="?action=profile" method="POST">
                                        <input class="submit_form" type="text" name="IDoffer" value="{{ reduc.id }}">
                                         <label for="submit_print"><img src="assets/img/printer.png" alt="print"></label>
                                         {{ file[reduc.id] | raw  }}
                                        <input class="submit_form" id="submit_print" type="submit" name="submitPrintOffer" value="Imprimer">
                                    </form>
                                </div>
                                <div class="other_info">
                                    <span>{{reduc.city}}</span>
                                    <span class="id">{{reduc.id}}</span>
                                    <span>{{reduc.expirationDate | date("m/d/Y")}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="changing_content available_reductions">
                    <p class="title">Réductions disponibles</p>
                    <div class="all_available_deal">
                        {% for deal in userDeals %}
                            <div class="available_deal">
                                <img class="partner_img" alt="available_deal_img" src="{{deal.image}}">
                                <div class="deal_info">
                                    <span>{{deal.partner}}</span>
                                    <span>{{ deal['deal'] | raw }}</span>
                                </div>
                                <div class="deal_cost"><a class="open_md" href="#modale"><span>{{ deal['cost'] }}</span><span> points</span></a></div>
                                <div class="other_info">
                                    <span>{{deal.city}}</span>
                                    <span class="id">{{deal.id}}</span>
                                    <span>{{deal.expirationDate | date("m/d/Y")}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="changing_content sondage">
                    <div class="sondage_title">
                        <p class="huge_title">A découvrir ensuite</p>
                        <p class="little_description">Votez pour votre partenare préféré !</p>
                    </div>
                    <div class="all_survey_offer">
                        {% for survey in surveys %}
                            <div class="survey_offer">
                                <div class="header_offer">
                                    <img src="{{survey.image}}" alt="survey_img">
                                    <p>{{survey.partner}}</p>
                                </div>
                                <div class="content_offer">
                                    <div class="little_describe">{{survey.description}}</div>
                                    <div class="survey_content_separator"></div>
                                    <div class="survey_deal">{{survey.deal}}</div>
                                </div>
                                <div class="vote_result_area">
                                    {% if user.vote == "0" %}
                                        <div class="vote_area">

                                            <form action="?action=profile" method="POST">
                                                <input class="form_vote" type="text" name="surveyID" value="{{survey.id}}">
                                                <label for="{{survey.id}}"><img src="assets/img/vote.png" alt="vote_img"></label>
                                                <input class="form_vote" id="{{survey.id}}" type="submit" name="userVote" value="Je vote">
                                            </form>
                                        </div>
                                    {% else %}
                                    {% set average = (survey.vote/allVotes)*100 %}
                                        <div class="stat_area">
                                            <div class="progress_bar">
                                                <div class="progress" style="width:{{ average|round(1, 'floor')}}%">{{ average|round(1, 'floor')}}%</div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="how_many">{{allVotes}} utilisateurs ont déja votés pour leur offre préférée !</div>
                </div>
            </div>
        </div>

        <div id="modale">
            <div class="modale_available_deal">
                <div class="deal_info">
                    <img class="img_modale" alt="modale_img" src="">
                    <div class="info">
                        <p class="title">INFO</p>
                        <p class="partner_modale info_deal"><span>Partenaire</span><span></span></p>
                        <p class="city_modale info_deal"><span>Ville</span><span></span></p>
                        <p class="expiration_modale info_deal"><span>Date d'expiration</span><span></span></p>
                        <div class="important">
                            <div class="price big">
                                <span>Coût</span>
                                <span></span>
                            </div>
                            <div class="reduc big">
                                <span>Réduction</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <form class="buy_deal" action="?action=profile" method="POST">
                        <input class="id" name="IDdeal" type="text" value="">
                        <input class="buy" name="submitBuyDeal" type="submit" value="acheter l'offre">
                    </form>
                    <a class="close_modale">Non merci</a>
                </div>
            </div>
        </div>
        <a class="all_offers_link" href="?action=offers">Voir toutes les offres !</a>
        <div class="insert">
            <div><a class="insert_code">Insérer un code !</a><img class="close_insert_code" alt="cancel_insert" src="assets/img/cancel.png"></div>
            <form class="form_code" action="?action=profile" method="POST">
                <input type="text" name="barcode" class="code_form code_input" placeholder="ex : 784589"/>
                <input type="submit" name="submitBarcode" class="button" value="Valider le code"/>
            </form>
        </div>
    </main>
    <aside class="user_edit">
        <div class="area_edit">
            <p class="title">Editez vos informations :</p>
            <form enctype="multipart/form-data" action="?action=profile" method="POST">
                <div class="content_edit">
                    <p>Pseudo :</p>
                    <input type="text" name="editUsername" value="{{user.pseudo}}"/>
                </div>
                <div class="content_edit">
                    <p>Email :</p>
                    <input type="text" name="editMail" value="{{user.email}}"/>
                </div>
                <div class="content_edit">
                    <p>City :</p>
                    <input type="text" name="editCity" value="{{user.city}}"/>
                </div>
                <div class="content_edit">
                    <p>Photo de profil :</p>
                    <input class="input_img" type="file" name="userfile"/>
                </div>
                <input class="button_edit" type="submit" name="submitEditProfile" value="Editer">
                <a class="button_edit close_user_edit">Retour sans sauvegarder !</a>
            </form>

        </div>
    </aside>
{% endblock %}

